# 11ty output directory
_site/*
!_site/README.md

# dependencies
node_modules/

# environment variables
.envrc

# secrets
secrets/*
!secrets/README.md
credentials.json

# Lighthouse and Lighthouse CI web performance reports
lighthouse/reports/*
!lighthouse/reports/README.md
.lighthouseci/

# Webhint HTML reports
hint-report/

# default cache directory of @11ty/eleventy-fetch
# https://www.11ty.dev/docs/plugins/cache/
.cache/
# cache used by my work-in-progress eleventy-plugin-plausible
.cache-plausible-json-responses/
# cache for webmentions fetched from webmention.io
.cache-webmentions/
