# 11ty output directory
_site/*
!_site/README.md

# dependencies
node_modules/

# Environment variables
.envrc

# Local Netlify folder
.netlify

# Lighthouse and Lighthouse CI web performance reports
lighthouse/reports/*
!lighthouse/reports/README.md
.lighthouseci/

# Webhint HTML reports
hint-report/

# 11ty cache
# https://www.11ty.dev/docs/plugins/cache/
.cache/
