# 11ty output directory
_site/*
!_site/README.md

# dependencies
node_modules/

# environment variables
.envrc

# secrets
secrets/*
!secrets/README.md

# Lighthouse and Lighthouse CI web performance reports
lighthouse/reports/*
!lighthouse/reports/README.md
.lighthouseci/

# Webhint HTML reports
hint-report/

# default cache directory of @11ty/eleventy-fetch
# https://www.11ty.dev/docs/plugins/cache/
.cache/
# cache for webmentions fetched from webmention.io
.cache-webmentions/

# tmp files for wrangler (Cloudflare CLI)
.wrangler/
