/* Sans-Serif --------------------------------------------------------------- */

/* Serif -------------------------------------------------------------------- */

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url('/assets/fonts/merriweather-v22-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/merriweather-v22-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url('/assets/fonts/merriweather-v22-latin-italic.woff2') format('woff2'),
    url('/assets/fonts/merriweather-v22-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url('/assets/fonts/merriweather-v22-latin-700.woff2') format('woff2'),
    url('/assets/fonts/merriweather-v22-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src:
    url('/assets/fonts/merriweather-v22-latin-700italic.woff2') format('woff2'),
    url('/assets/fonts/merriweather-v22-latin-700italic.woff') format('woff');
}

:root {
  --font-headings: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  --font-body: Merriweather, ui-serif, Georgia, Cambria, 'Times New Roman',
    Times, serif;
}
