@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Extend Tailwind CSS preflight styles with my custom base styles.
 * https://tailwindcss.com/docs/preflight#extending-preflight
 */
 @layer base {
  /* @tailwindcss/form overrides -------------------------------------------- */
  /* https://github.com/tailwindlabs/tailwindcss-forms/blob/master/src/index.js */

  input[type='date'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  select[multiple],
  select,
  textarea {
    border-color: theme('colors.tertiary');
    @apply w-full rounded-lg shadow-sm text-2xl;
    @apply focus:border-secondary focus:ring-secondary focus:ring-4;
  }

  input[type='checkbox'],
  input[type='radio'] {
    border-color: theme('colors.tertiary');
    @apply rounded-sm text-tertiary;
    @apply focus:ring-secondary;
  }

  /* hover:text-button hover:bg-buttonText */

  form button {
    @apply bg-button text-buttonText py-4 rounded-lg uppercase;
    @apply focus:border-secondary focus:outline-none focus:ring-secondary focus:ring-4;
    @apply hover:border-secondary hover:ring-secondary hover:ring-4;
  }

  form button,
  form label {
    @apply font-semibold;
  }

  /* @tailwindcss/typography overrides -------------------------------------- */

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    color: theme('colors.headline');
    font-family: theme('fontFamily.serif');
  }

  .prose h1 a:hover,
  .prose h2 a:hover,
  .prose h3 a:hover,
  .prose h4 a:hover,
  .prose h5 a:hover,
  .prose h6 a:hover {
    text-decoration: none;
  }

  .prose a {
    @apply text-buttonText font-semibold;
    @apply hover:text-tertiary;
  }

  /* I don't like the quotations this plugin adds to the inline code */
  .prose code::after,
  .prose code::before {
    content: "";
  }

  .prose .heading-anchor,
  .prose .postslist a,
  .prose .tag a:hover {
    text-decoration: none;
  }

  .prose a:hover,
  .prose .heading-anchor:hover {
    text-decoration: underline;
    text-decoration-color: theme('colors.paragraph');
    /* text-underline-offset: 0.15em; */
    text-decoration-style: solid;
    text-decoration-thickness: 0.25rem;
  }

  .prose .postslist > li {
    padding-left: 0;
  }

  .prose .postslist > li::before {
    content: "";
  }

  .prose .postslist > li h2,
  .prose .postslist > li p {
    margin-bottom: 0;
  }

  /* override Prism.js blocks of code */
  .prose pre[class^='language-'] {
    @apply hover:ring-4 hover:ring-tertiary;
  }

  .prose .post-footer > ul {
    @apply flex justify-between mx-0 px-0;
  }
  
  .prose .post-footer li {
    @apply m-0 p-0;
  }

  /* Other overrides -------------------------------------------------------- */
}

/**
 * Extend Tailwind CSS components with my custom components.
 * https://tailwindcss.com/docs/extracting-components
 */
@layer components {
  /* https://every-layout.dev/layouts/cluster/ */
  .cluster {
    --space: theme('spacing.3');
    /* ↓ Suppress horizontal scrolling caused by the negative margin in some circumstances */
    overflow: hidden;
  }

  .cluster > * {
    display: flex;
    flex-wrap: wrap;
    /* ↓ multiply by -1 to negate the halved value */
    margin: calc(var(--space) / 2 * -1);
  }

  .cluster > * > * {
    /* ↓ half the value, because of the 'doubling up' */
    margin: calc(var(--space) / 2);
  }

  /* https://every-layout.dev/layouts/stack/ */
  .stack {
    --space: theme('margin.4');
  }

  .stack > * + * {
    margin-top: var(--space);
  }

  .site-prose {
    @apply prose prose-sm sm:prose lg:prose-lg xl:prose-2xl px-2 mx-auto;
  }

  .fancy-button {
    --tw-gradient-from: theme('colors.button');
    --tw-gradient-to: theme('colors.buttonText');
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(0, 0, 0, 0));
    @apply bg-gradient-to-r;
  }

  .fancy-button:hover {
    @apply bg-gradient-to-l;
  }

  .tag {
    --color: theme('colors.current');
    --border-color: theme('colors.tertiary');
    border: theme('borderWidth.2') solid var(--border-color);
    border-radius: theme('borderRadius.md');
    padding: theme('padding.0') theme('padding.1');
  }
  
  .tag:hover {
    --color: theme('colors.background');
    background-color: var(--border-color);
  }

  .tag:hover > a {
    color: var(--color);
  }

  .tag:focus-within {
    --color: theme('colors.background');
    background-color: var(--border-color);
  }
  
  .tag > a {
    color: var(--color);
    text-decoration: none;
    @apply focus:outline-none;
  }

  li:hover {
    --color: theme('colors.tertiary');
  }

  body {
    background-color: theme('colors.background');
    font-family: theme('fontFamily.sans');
  }

  .site-header {
    @apply sticky top-0 z-50;
    @apply sm:flex sm:items-center sm:justify-between;
  }

  /* https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
  .site-header > * + * {
    @apply mt-2;
  }

  .site-header ul > * + *,
  .site-footer ul > * + * {
    @apply pl-2 sm:pl-4 xl:pl-8;
  }

  .site-header,
  .site-footer {
    background-color: theme('colors.background');
    /* border-color: theme('colors.tertiary'); */
    /* @apply border-2; */
    @apply lg:text-lg xl:text-2xl;
    @apply max-w-prose mx-auto px-2;
  }

  .site-header,
  .site-footer {
    @apply py-2;
  }

  .site-footer p,
  .site-footer span {
    color: theme('colors.paragraph');
  }

  .site-header a,
  .site-footer a {
    color: theme('colors.buttonText');
    font-weight: theme('fontWeight.semibold');
  }

  .site-header a:hover,
  .site-footer a:hover {
    color: theme('colors.tertiary');
    text-decoration: underline;
    text-decoration-color: theme('colors.paragraph');
    text-decoration-thickness: 0.25em;
  }

  /* @apply m-0 sm:mx-2 lg:mx-4 xl:mx-16 2xl:mx-32 */
  .container {
    outline: 1px solid red;
  }

  article > footer li::before {
    content: none !important;
  }

  #theme-switcher {
    background-color: transparent;
  }
}

/*
 * Extend Tailwind CSS with my custom utilities classes.
 * https://tailwindcss.com/docs/adding-new-utilities
 */
@layer utilities {
  .bg-debug {
    @apply bg-yellow-400 ring-4;
  }
}
