---
permalink: "{{ metadata.feeds.articles.href }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/xsl/feed-articles.xsl" type="text/xsl"?>

<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <id>{{ permalink }}</id>
  <title>{{ metadata.author.name }}'s articles</title>
  <subtitle>My articles</subtitle>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
    <uri>{{ metadata.url }}</uri>
  </author>
  <link href="{{ permalink }}" rel="self"/>

  {%- for article in collections.post | reverse %}
  {%- set absolute_url = article.url | absoluteUrl(metadata.url) %}
  <entry>
    <id>{{ absolute_url }}</id>
    <link href="{{ absolute_url }}"/>
    <title>{{ article.data.title }}</title>
    <published>{{ article.date | dateToRfc3339 }}</published>
    <updated>{{ article.date | dateToRfc3339 }}</updated>
    <summary>{{ article.data.description }}</summary>
    <content type="html" xml:lang="{{ metadata.lang }}">
      {{ article.templateContent | htmlToAbsoluteUrls(absolute_url) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
