---
eleventyExcludeFromCollections: true
layout: page.njk
permalink: 404.html
title: Oops! Not Found (404)
---
{% block pagecontent %}
<p>If you were looking for a blog post, try prepending <code>posts/</code> to the blog post's slug (I might have missed some redirects when migrating the blog).</p>
<p>For example, type:</p>
<p><code>/posts/first-steps-with-postgresql/</code></p>
<p>instead of:</p>
<p><code>/first-steps-with-postgresql/</code></p>
<p>Otherwise simply go back to the <a href="{{ '/' | url }}">home</a>, or to the <a href="{{ '/blog' | url }}">blog</a>.</p>
{% endblock pagecontent %}