---
description: Giacomo Debidda's about page
eleventyNavigation:
  key: About
  order: 2
layout: page.njk
ogp:
  title: About page
permalink: /about/index.html
section: about
title: A few words about me
---
{% block pagecontent %}
<p>About page under construction.</p>
{# <p>Talks</p> #}
{# {% include "components/talk-list.njk" %} #}
{% endblock pagecontent %}
