---
description: Giacomo Debidda's blog
eleventyNavigation:
  key: Blog
  order: 0
layout: bare-minimum.njk
ogp:
  title: Blog
permalink: /blog/index.html
section: blog
title: Blog
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}

  <main class="wrapper">
    <div class="flow region">
      <h1>{{ title }}</h1>
      {% set posts = collections.post %}
      {% include "components/post-list.njk" %}
    </div>
  </main>

  {% include "components/footer.njk" %}

</div>

{% include "components/back-to-top.njk" %}

{% endblock content %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}
{% set js %}
{% include "assets/js/sw-registration.js" %}
{% endset %}
<script data-helmet>{{ js | jsmin | safe }}</script>

{# external CSS assets #}
<link data-helmet rel="stylesheet" href="/assets/css/components.css">
<link data-helmet rel="stylesheet" href="/assets/css/utilities.css">

{# external JS assets #}
<script data-helmet async src="/assets/js/sw-registration.js"></script>
<script data-helmet defer src="/assets/js/back-to-top.js"></script>
