---
description: Giacomo Debidda's blog
eleventyNavigation:
  key: Blog
  order: 0
ogp:
  title: Blog
permalink: /blog/index.html
section: blog
title: Blog
---
{{ content | safe }}
{% set posts = collections.post %}
{% include "components/postslist.njk" %}
