---
description: Giacomo Debidda's contact info
eleventyNavigation:
  key: Contact
  order: 3
layout: page.njk
ogp:
  title: Contact page
permalink: /contact/index.html
section: contact
title: Let's talk!
---
{% block pagecontent %}

<p>Tell me about your project. Reserve a <a href="https://calendly.com/giacomo-debidda/free-consultation" rel="noopener noreferrer" target="_blank">free 30-minute call</a>.</p>
<p>If you prefer, you can also fill in this form.</p>
{% include "components/contact-form.njk" %}

{% endblock pagecontent %}
