---
date: 2020-09-01
description: Giacomo Debidda's contact info
eleventyNavigation:
  key: Contact
  order: 3
permalink: /contact/index.html
section: contact
title: Get in touch
---
<p>The contact form on this page uses <a href="https://www.netlify.com/docs/form-handling/">Netlify Forms</a> to process submissions, and saves them in the connected Netlify account where notifications can optionally be configured.</p>
{% include "components/contact-form.njk" %}