---
description: Giacomo Debidda's contact info
eleventyNavigation:
  key: Contact
  order: 8
layout: page.njk
ogp:
  title: Contact page
permalink: /contact/index.html
section: contact
title: Contact
---
{% block pagecontent %}

<p>If you think I can help you, feel free to <strong>reach out</strong> to me.</p>

<p>The best way to contact me is by sending me a message on <a href="https://www.linkedin.com/in/giacomodebidda/" target="_blank" rel="external noopener noreferrer">LinkedIn</a> or <a href="https://twitter.com/jackdbd" target="_blank" rel="external noopener noreferrer">Twitter</a>.</p>

<p>If you prefer, you can also <a href="https://cal.com/giacomodebidda/30min" target="_blank" rel="external noopener noreferrer">call me</a>, or fill in this form.</p>

{% include "components/contact-form.njk" %}

{% endblock pagecontent %}
