---
eleventyExcludeFromCollections: true
layout: page.njk
permalink: /form-submission-failed/index.html
title: Form submission failed
---
{% block pagecontent %}
<p>Sorry. Your form submission could not be processed. Try contacting me in another way.</p>
<p>You can now go back to the <a href="{{ '/' | url }}">home</a>.</p>
{% endblock pagecontent %}
