---
eleventyExcludeFromCollections: true
layout: page.njk
permalink: /form-submission-succeeded/index.html
title: Form submission succeeded
---
{% block pagecontent %}
<p>Your message has been sent!</p>
<p>You can now go back to the <a href="{{ '/' | url }}">home</a>.</p>
{% endblock pagecontent %}
