---
date: 2020-09-01
permalink: /
section: home
title: Home
---
<p>This is my personal website. Currently under construction.</p>
{% set n = 3 %}
{% set postslist = collections.post | reverse | limit(n) | reverse %}
<h2>Recent articles</h2>
{% include "components/postslist.njk" %}

<form class="contact-form" name="Home data-netlify" data-netlify="true" method="POST" action="/success.html">
  <input type="hidden" name="form-name" value="Home data-netlify" />
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message0">Message</label>
      <textarea class="form-textarea w-full" name="message0" id="message0" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>

<form class="contact-form" name="Home netlify" netlify method="POST" action="/success.html">
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message1">Message</label>
      <textarea class="form-textarea w-full" name="message1" id="message1" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>

<form class="contact-form" name="Home lowercase post data-netlify" data-netlify="true" method="post" action="/success.html">
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message2">Message</label>
      <textarea class="form-textarea w-full" name="message2" id="message2" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>

<form class="contact-form" name="Home lowercase post netlify" netlify method="post" action="/success.html">
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message3">Message</label>
      <textarea class="form-textarea w-full" name="message3" id="message3" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>

<form class="contact-form" name="Home no action lowercase post netlify" netlify method="post">
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message4">Message</label>
      <textarea class="form-textarea w-full" name="message4" id="message4" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>

<form class="contact-form" name="Home no action uppercase POST netlify" netlify method="POST">
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message5">Message</label>
      <textarea class="form-textarea w-full" name="message5" id="message5" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>

<form class="contact-form" name="Home no action uppercase POST data-netlify" data-netlify="true" method="POST">
  <div class="flex flex-col bg-gray-600 p-4 rounded-lg">
    <div class="mt-4 mb-2">
      <label class="font-semibold uppercase" for="message6">Message</label>
      <textarea class="form-textarea w-full" name="message6" id="message6" placeholder="Your message here" rows="7" required></textarea>
    </div>
    <button
      class="w-full bg-gray-900 text-white font-semibold uppercase py-2 rounded"
      name="submit"
      type="submit">
      Send Message
    </button>
  </div>
</form>
