---
description: Giacomo Debidda's personal website
layout: bare-minimum.njk
ogp:
  title: Giacomo Debidda's home page
permalink: /
section: home
title: Hi there!
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}

  <main class="wrapper">
    <div class="flow region">
      <h1>{{ title }}</h1>
      <p class="h-card">I'm <span class="p-name">Giacomo Debidda</span>, a <span class="p-job-title" value="full-stack software developer">full-stack software developer</span> from <span class="p-country-name" value="Italy">Italy</span>.</p>
      <h2>Recent articles</h2>
      {% set n = 3 %}
      {% set articles = collections.article | reverse | limit(n) | reverse %}
      {% include "components/article-list.njk" %}
    </div>
  </main>

  {% include "components/footer.njk" %}

</div>

{# {% include "components/back-to-top-is-land.njk" %} #}

{% endblock content %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}

{# external CSS assets #}
<link data-helmet rel="stylesheet" href="/assets/css/components.css">
<link data-helmet rel="stylesheet" href="/assets/css/utilities.css">

{# external JS assets #}
<script data-helmet async src="/assets/js/sw-registration.js"></script>
