---
description: Giacomo Debidda's personal website
layout: bare-minimum.njk
ogp:
  title: Giacomo Debidda's home page
permalink: /
section: home
title: Home
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}

  <main class="wrapper">
    <div class="flow region">
      <h1>{{ title }}</h1>
      <p>Hi there! I'm Giacomo Debidda, also known as <a href="https://twitter.com/jackdbd" rel="noopener noreferrer" target="_blank">@jackdbd</a> on the Internet.</p>
      <h2>Recent articles</h2>
      {% set n = 3 %}
      {% set posts = collections.post | reverse | limit(n) | reverse %}
      {% include "components/post-list.njk" %}
    </div>
  </main>

  {% include "components/footer.njk" %}

</div>

{# {% include "components/back-to-top.njk" %} #}

{% endblock content %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}
{% set js %}
{% include "assets/js/sw-registration.js" %}
{% endset %}
<script data-helmet>{{ js | jsmin | safe }}</script>

{# external CSS assets #}
<link data-helmet rel="stylesheet" href="/assets/css/components.css">
<link data-helmet rel="stylesheet" href="/assets/css/utilities.css">

{# external JS assets #}
{# <script data-helmet async src="/assets/js/sw-registration.js"></script> #}
{# <script data-helmet defer src="/assets/js/back-to-top.js"></script> #}
