---
eleventyComputed:
  title: Articles tagged with “{{ tag }}”
layout: bare-minimum.njk
pagination:
  addAllPagesToCollections: true
  alias: tag
  data: collections
  filter:
    - all
    - nav
    - post
    - posts
    - userDefinedTagList
  size: 1
permalink: /tags/{{ tag }}/
---
{% set posts = collections[ tag ] %}
{% include "components/post-list.njk" %}
<p class="prose lg:prose-xl">See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
