---
eleventyComputed:
  title: Articles filed under “{{ tag }}”
layout: page.njk
pagination:
  addAllPagesToCollections: true
  alias: tag
  data: collections
  filter:
    - all
    - nav
    - post
    - posts
    - userDefinedTagList
  size: 1
permalink: /tags/{{ tag }}/
---
{% block pagecontent %}
{% set posts = collections[ tag ] %}
{% include "components/post-list.njk" %}
<p class="">See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
{% endblock pagecontent %}
