---
description: Giacomo Debidda's personal projects
eleventyNavigation:
  key: Projects
  order: 1
layout: page.njk
ogp:
  title: Projects page
permalink: /projects/index.html
section: projects
title: Personal projects
---
{% block pagecontent %}

{% include "components/card-grid.njk" %}

{% endblock pagecontent %}

{% include "components/back-to-top-is-land.njk" %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}

{# external CSS assets #}
{# <link data-helmet rel="stylesheet" href="/assets/css/components.css"> #}
{# <link data-helmet rel="stylesheet" href="/assets/css/utilities.css"> #}
<link data-helmet rel="stylesheet" href="/assets/css/prismjs-theme.css">
<link data-helmet rel="preload" href="/assets/fonts/source-code-pro-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link data-helmet rel="stylesheet" href="/assets/css/font-monospace.css">

{# external JS assets #}
<script data-helmet async src="/assets/js/sw-registration.js"></script>
