---
description: Giacomo Debidda's personal projects
eleventyNavigation:
  key: Projects
  order: 1
layout: bare-minimum.njk
ogp:
  title: Projects page
permalink: /projects/index.html
section: projects
title: Personal projects
---
{% block pagecontent %}
<p>Project page under construction.</p>
{% endblock pagecontent %}