---
eleventyExcludeFromCollections: true
layout: page.njk
permalink: /success/index.html
title: Success
---
{% block pagecontent %}
<p>Your message has been sent!</p>
<p>You can now go back to the <a href="{{ '/' | url }}">home</a>, or to the <a href="{{ '/blog' | url }}">blog</a>.</p>
{% endblock pagecontent %}
