---
eleventyExcludeFromCollections: true
layout: bare-minimum.njk
permalink: /success/index.html
title: Success
---
{% block pagecontent %}
<p>Success page under construction.</p>
{% endblock pagecontent %}