---
layout: bare-minimum.njk
permalink: /tags/index.html
title: Tags
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}

  <main class="wrapper">
    <div class="flow region">
      <h1>{{ title }}</h1>
      {% set tags = collections.userDefinedTagList | sort %}
      {% include "components/tags.njk" %}
      <hr>
      <p class="">Back to <a href="{{ '/blog/' | url }}">blog</a>.</p>
    </div>
  </main>

  {% include "components/footer.njk" %}

</div>

{% endblock content %}
