---
layout: page.njk
permalink: /tags/index.html
title: Tags
---
{% block pagecontent %}
{% set tags = collections.userDefinedTagList | sort %}
{% set align = "start" %}
{% include "components/tags.njk" %}
<hr>
<p>Back to <a href="{{ '/' | url }}">home</a>.</p>
{% endblock pagecontent %}
