---
eleventyExcludeFromCollections: true
excludeFromSitemap: true
permalink: /_headers
---
{#- https://mozilla.github.io/nunjucks/templating.html#whitespace-control -#}
{#- https://mozilla.github.io/nunjucks/templating.html#join -#}

{%- set responseHeaders %}
  NEL: {"report_to":"default","max_age":31536000,"include_subdomains":true}
  Report-To: {"group":"default","max_age":31536000,"endpoints":[{"url":"https://giacomodebidda.report-uri.com/a/d/g"}],"include_subdomains":true}
  Strict-Transport-Security: max-age=31536000; includeSubDomains; preload
  X-Content-Type-Options: nosniff
  X-Frame-Options: SAMEORIGIN
  X-XSS-Protection: 1; mode=block
{% endset %}

/
  {{- responseHeaders | safe }}
