---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---

# http://www.robotstxt.org/robotstxt.html

# Allow crawling of all content
User-agent: *
Disallow:

Sitemap: {{ metadata.url }}/sitemap.xml
