---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---

Contact: mailto:{{ metadata.author.email }}
Contact: https://twitter.com/jackdbd
Expires: 2023-12-31T22:59:00.000Z
Encryption: {{ '/assets/pgp-key.txt' | url }}
