---
layout: bare-minimum.njk
section: post
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}
  
  <is-land on:visible autoinit="preact" import="/assets/js/preact-components/back-to-top.js"></is-land>

  <main class="wrapper">
    <article class="prose flow region h-entry">

      <h1 class="p-name">{{ title }}</h1>
      
      <div class="cluster" data-align="start">
        {% set humanDate = date | humanDate %}
        {% set machineDate = date | machineDate %}
        {% set readingTime = content | readingTime %}
        <time class="dt-published" datetime="{{ machineDate }}">
          <strong>{{ humanDate }}</strong>
        </time>
        <a rel="author" class="p-author h-card" href="https://giacomodebidda.com/">Giacomo Debidda</a>
        {% if tags %}
          {% set align = "start" %}
          {% include "components/tags.njk" %}
        {% endif %}
      </div>

      <hr>

      {% include "components/toc.njk" %}

      <div class="flow e-content">
        {{ content | safe }}
      </div>

      <hr>

      {% if tags %}
        {% set align = "end" %}
        {% include "components/tags.njk" %}
      {% endif %}

    </article>

    {% renderTemplate "webc" %}
    <call-to-action></call-to-action>
    {% endrenderTemplate %}

    {% renderTemplate "webc" %}
    <webmentions-section></webmentions-section>
    {% endrenderTemplate %}

  </main>
  
  {% include "components/footer.njk" %}

</div>


{% endblock content %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}

{# external CSS assets #}
<link data-helmet rel="stylesheet" href="/assets/css/components.css">
<link data-helmet rel="stylesheet" href="/assets/css/utilities.css">
<link data-helmet rel="stylesheet" href="/assets/css/prismjs-theme.css">
<link data-helmet rel="preload" href="/assets/fonts/source-code-pro-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link data-helmet rel="stylesheet" href="/assets/css/font-monospace.css">

{# external JS assets #}
<script data-helmet async src="/assets/js/sw-registration.js"></script>
