<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en" data-theme="default">
{% include "components/head.njk" %}

<body>
  <div id="wrapper-for-sticky-footer">
    {% include "components/header.njk" %}
    <main class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl px-2 mx-auto">
      {% block content %}
      {{ content | safe }}
      {% endblock content %}
    </main>
    {% include "components/footer.njk" %}
  </div>
  {% set js %}
    {% include "assets/js/sw_registration.js" %}
  {% endset %}
  <script integrity="{{ env.sha_sw_registration_js }}">{{ js | safe | jsmin }}</script>
</body>

</html>
