<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en" data-theme="default">

{% include "components/head.njk" %}

<body>
  <div id="wrapper-for-sticky-footer">
    {% include "components/header.njk" %}
    <main role="main" class="wrapper">
      {% block content %}
      {{ content | safe }}
      {% endblock content %}
    </main>
    {% include "components/footer.njk" %}
  </div>
  {% set js %}
    {% include "assets/js/sw-registration.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  {% set js %}
    {% include "assets/js/theme-switcher.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</body>

{# CSS assets that will be injected in <head> with eleventy-plugin-helmet #}
<link rel="stylesheet" href="/assets/css/components.css" data-helmet>
<link rel="stylesheet" href="/assets/css/utilities.css" data-helmet>

</html>
