---
layout: page.njk
---
{%- block content %}

<article class="flow h-entry prose region stack">
  
  <p>I liked this on <time class="dt-published" datetime="{{ date | dateToRfc3339 }}">{{ date | machineDateJS }}</time>:</p>

  <p>
    <a class="break-all" href="{{ likeOf }}" target="_blank" rel="external noopener noreferrer">{{ likeOf }}</a>
  </p>

  {% if content %}
    <p class="p-content">{{ content | safe }}</p>
  {% endif %}

  {% if syndication | length > 0 %}
    <p>Syndicated also to: 
      {%- for x in syndication %}
      <a href="{{ x.href }}" target="_blank" rel="external noopener noreferrer">
        {{ x.text }}
      </a>
      {% if not loop.last %}, {% endif %}
      {% endfor -%}
    .</p>
  {% endif %}

  {% if tags and tags | length > 0 %}
    {% set align = "end" %}
    {% include "components/tags.njk" %}
  {% endif %}

</article>

<p>See <a href="/likes">all likes</a>.</p>

{% endblock content -%}
