---
layout: page.njk
---
{%- block content %}

<article class="prose flow region h-entry stack">

  <p class="p-content">{{ content | safe }}</p>

  {% if location %}
    <pre>{{ location | dump(2) | safe }}</pre>
    {# https://microformats.org/wiki/h-geo #}
    <p class="h-geo">
      {% if location.latitude %}
        Latitude: <data class="p-latitude" value="{{ location.latitude }}">{{ location.latitude }}</data>
      {% endif %}
      &nbsp;
      {% if location.longitude %}
        Longitude: <data class="p-longitude" value="{{ location.longitude }}">{{ location.longitude }}</data>
      {% endif %}
    </p>
  {% endif %}

  {# photo can be: a single URL, an object with alt+value, or an array of those things #}
  {# {% if photo %}
    <p>TODO: add photo component</p>
  {% endif %} #}

  {# video can be: a single URL, an array of URLs #}
  {# {% if video %}
    <p>TODO: add video component</p>
  {% endif %} #}

  {# audio can be: a single URL, an array of URLs #}
  {# {% if audio %}
    <figure class="h-entry">
      <audio controls src="https://content.giacomodebidda.com/media/example_700KB.mp3"></audio>
      <a href="https://content.giacomodebidda.com/media/example_700KB.mp3"
        >Download audio</a
      >
      <figcaption>
        <p class="p-content">A test audio file.</p>
      </figcaption>
    </figure>
  {% endif %} #}

  <p>Published on: <time class="dt-published" datetime="{{ date | dateToRfc3339 }}">{{ date | machineDateJS }}</time></p>

  {# I don't want to show where I will syndicate this note. I just need to keep mp-syndicate-to in the frontmatter to let my Micropub server know that it has to syndicate this note. #}
  {# {% if mpSyndicateTo | length > 0 %}
    <p>Will syndicate this also to:
      {%- for x in mpSyndicateTo %}
      <a href="{{ x.href }}" target="_blank" rel="external noopener noreferrer">
        {{ x.text }}
      </a>
      {% if not loop.last %}, {% endif %}
      {% endfor -%}
    .</p>
  {% endif %} #}

  {% if syndication | length > 0 %}
    <p>Syndicated also to: 
      {%- for x in syndication %}
      <a href="{{ x.href }}" target="_blank" rel="external noopener noreferrer">
        {{ x.text }}
      </a>
      {% if not loop.last %}, {% endif %}
      {% endfor -%}
    .</p>
  {% endif %}

  {% if tags and tags | length > 0 %}
    {% set align = "end" %}
    {% include "components/tags.njk" %}
  {% endif %}

</article>

{% set likes = webmentionsReceivedAtURL | getWebmentionsByTypes(['like-of']) %}
{% set replies = webmentionsReceivedAtURL | getWebmentionsByTypes(['mention-of', 'in-reply-to', 'reply']) %}
{% set reposts = webmentionsReceivedAtURL | getWebmentionsByTypes(['repost-of']) %}

{# Global data #}
{# {{ webmentions | log }} #}

{# Computed Data #}
{# {{ webmentionsReceivedAtURL | log }} #}
{# {{ webmentionTargetURL | log }} #}

{% renderTemplate "webc", {
  likes: likes,
  replies: replies,
  reposts: reposts,
  webmention_endpoint: webmentions.webmention_endpoint,
  webmention_target_url: webmentionTargetURL } %}
<webmentions-section
  :@likes="likes"
  :@replies="replies"
  :@reposts="reposts"
  :@webmention-endpoint="webmention_endpoint"
  :@webmention-target-url="webmention_target_url">
</webmentions-section>
{% endrenderTemplate %}

<p>See <a href="/notes">all notes</a>.</p>

{% endblock content -%}
