---
layout: bare-minimum.njk
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}

  <main class="wrapper">
    <div class="flow region">
      <h1>{{ title }}</h1>
      {% block pagecontent %}
      {{ content | safe }}
      {% endblock pagecontent %}
    </div>
  </main>

  {% include "components/footer.njk" %}

</div>

{% include "components/back-to-top.njk" %}

{% endblock content %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}

{# external CSS assets #}
<link data-helmet rel="stylesheet" href="/assets/css/components.css">
<link data-helmet rel="stylesheet" href="/assets/css/utilities.css">

<link data-helmet rel="preload" href="/assets/fonts/source-code-pro-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link data-helmet rel="stylesheet" href="/assets/css/font-monospace.css">

{# external JS assets #}
<script data-helmet defer src="/assets/js/back-to-top.js"></script>
