---
layout: bare-minimum.njk
---
{% block content %}

<div id="wrapper-for-sticky-footer">

  {% include "components/header.njk" %}

  <main class="wrapper">
    <article class="prose flow region">

      <h1>{{ title }}</h1>
      {{ content | safe }}

      {% if ogp.image %}
        <figure>
          {% if ogp.imageAlt %}
            <img src="{{ ogp.image }}" alt="{{ ogp.imageAlt }}" />
          {% else %}
            <img src="{{ ogp.image }}" />
          {% endif %}
        </figure>
      {% endif %}

      {% if href %}
        <p class="break-all">🔗 <a href="{{ href }}" rel="external noopener noreferrer" target="_blank">{{ href }}</a></p>
      {% endif %}
      <hr>

      {% if tags %}
        {% set align = "end" %}
        {% include "components/tags.njk" %}
      {% endif %}

    </article>
  </main>

  {% include "components/footer.njk" %}

</div>

{% endblock content %}

{# inlined CSS assets (critical CSS) #}

{# inlined JS assets (critical JS) #}

{# external CSS assets #}
<link data-helmet rel="stylesheet" href="/assets/css/components.css">
<link data-helmet rel="stylesheet" href="/assets/css/utilities.css">

{# external JS assets #}
<script data-helmet async src="/assets/js/sw-registration.js"></script>