<footer class="px-2 py-2 outline-black">
  {% include "components/socials.njk" %}
  <div class="px-2">
    <small>{% copyright metadata.author.name %}</small>
    {# <span class="text-sm">{% copyright metadata.author.name %}</span> #}
  </div>
</footer>
