<footer>
  <div class="flow wrapper region">
    {% set align = "" %}
    {% include "components/socials.njk" %}
    <div class="center">
      <small>{% copyright metadata.author.name %}</small>
    </div>
  </div>
</footer>
