<footer>
  <div class="flow wrapper region">
    {% set align = "end" %}
    {% include "components/socials.njk" %}
    <div class="flex-end">
      <small>{% copyright metadata.author.name %}</small>
    </div>
  </div>
</footer>
