<header class="">
  <div class="cluster">
  <ul class="p-2 cluster-children-wrapper" style="justify-content: space-between">
    <li class="">
      <a class="font-semibold uppercase" href="{{ '/' | url }}">
        {{ metadata.title }}
      </a>
    </li>
    <li class="cluster">
      <ul class="p-2 cluster-children-wrapper">
        {# <li class="flex">{% include "components/theme-switcher.njk" %}</li> #}
        {% set navPages = collections.all | eleventyNavigation %}
        {% for entry in navPages %}
        <li class="">
          <a class="font-semibold" href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="current item" {% endif %}>
            {{ entry.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
    </ul>
  </div>
</header>