<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or metadata.description }}">
  <title>{{ title or metadata.title }}</title>
  {% set absolutePageUrl %}
    {{ page.url | url | absoluteUrl(metadata.url) }}
  {% endset %}

  {# TODO: how to get the base URL? The website base URL is dynamic, because the
  website could be running locally (e.g. with eleventy --serve),
  or it could be deployed to Cloudflare Pages. If I use <base> with a wrong URL
  all requests are considered cross-origin, so the browser refuse both sw.js and
  the webmanifest. #}
  {# <base href="{{ env.domain }}">  #}

  {# Here I use dns-prefetch to resolve some domain names before resources get
  requested, and preconnect to establish a connection with those servers. See:
  https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch#best_practices
  #}

  {# Plausible analytics #}
  <link rel="preconnect" href="https://plausible.io" crossorigin>
  <link rel="dns-prefetch" href="https://plausible.io">

  {# Cloudinary (CDN where I host all my images and media) #}
  <link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
  <link rel="dns-prefetch" href="https://res.cloudinary.com">

  {# OGP meta Tags for Facebook #}
  {# https://ogp.me/ #}
  <meta property="og:title" content="{{ title or metadata.title }}">
  <meta property="og:type" content="{{ ogp.type or metadata.ogp.type }}">
  <meta property="og:image" content="{{ ogp.image or metadata.profilePic }}" />
  <meta property="og:image:alt" content="{{ ogp.imageAlt or metadata.description }}" />
  <meta property="og:url" content="{{ absolutePageUrl }}">
  <meta property="og:description" content="{{ description or metadata.description }}">
  <meta property="og:locale" content="en_US">
  {% if ogp.video %}
    <meta property="og:video" content="{{ ogp.video }}">
  {% endif %}

  {# Twitter card #}
  {# https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup #}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jackdbd">
  <meta name="twitter:title" content="{{ title or metadata.title }}">
  <meta name="twitter:description" content="{{ description or metadata.description }}">
  <meta name="twitter:image" content="{{ ogp.image or metadata.profilePic }}">
  <meta name="twitter:image:alt" content="{{ ogp.imageAlt or metadata.description }}">

  <meta name="theme-color" content="#c80815">

  {# Favicons for each device #}
  {# TODO: minify them! Use a plugin/shortcode to add them #}
  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon/favicon-16x16.png' | url }}">

  {# Web app manifest for PWA installation #}
  <link rel="manifest" href="/manifest.webmanifest">

  {# Inline CSS (critical CSS) #}
  {# Rule of thumb: the sum of all inlined CSS should not exceed 1-2 KB once minified. #}
  {# https://www.11ty.dev/docs/quicktips/inline-css/ #}
  {% set css %}
    {% include "assets/css/scale.css" %}
    {% include "assets/css/color.css" %}
    {% include "assets/css/font.css" %}
    {% include "assets/css/layout.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  {# This stylesheet is render-blocking, but I don't think it's feasible to preload it without causing layout shifts,
  since it defines the entire website layout #}
  <link rel="stylesheet" href="/assets/css/style.css">

  {# Preload fonts to improve performance
  Note: crossorigin is required even for fonts hosted on this origin.
  See here: https://www.smashingmagazine.com/2016/02/preload-what-is-it-good-for/ #}
  <link rel="preload" href="/assets/fonts/nunito-v16-latin-800.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/merriweather-v22-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/merriweather-v22-latin-700.woff2" as="font" type="font/woff2" crossorigin>
  {# I use italic only on a few pages, so maybe it's better NOT to preload any italic font variant #}
  {# <link rel="preload" href="/assets/fonts/merriweather-v22-latin-italic.woff2" as="font" type="font/woff2" crossorigin> #}
  {# <link rel="preload" href="/assets/fonts/merriweather-v22-latin-700italic.woff2" as="font" type="font/woff2" crossorigin> #}
  {# I am using a monospace font only in blog posts, so I'll preload it only for those page types. #}

  {# RSS Feed #}
  <link rel="alternate" type="application/rss+xml" href="{{ metadata.feeds.posts.href }}" title="{{ metadata.feeds.posts.title }}">

  {# Non-inlined JS: use async or defer #}
  <script async type="module" src="/assets/js/is-land.js"></script>
  <script async src="/assets/js/instantpage.js"></script>
  <script async src="/assets/js/async-load-prism-theme.js"></script>
  <script defer data-domain="giacomodebidda.com" src="https://plausible.io/js/plausible.js"></script>
</head>
