<header class="debug-breakpoints">
  <div>
    <span>
      <a class="uppercase font-bold" href="{{ '/' | url }}">
        {{ metadata.title }}
      </a>
    </span>
  </div>
  <ul class="flex items-center justify-between">
    <li class="flex items-center">{% include "components/theme-switcher.njk" %}</li>
    {% set navPages = collections.all | eleventyNavigation %}
    {% for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="current item" {% endif %}>
        {{ entry.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</header>
