<div
  class="border-2 border-tertiary rounded-md py-0 px-2 group hover:bg-tertiary focus-within:bg-tertiary">
  <a
    class="!no-underline !font-semibold focus:outline-none focus:text-background group-hover:text-background"
    href="{{ tagUrl | url }}"
    rel="tag">
    {{ tag }}
  </a>
</div>
