<p>
  <time datetime="{{ machineDate }}">
    <em>{{ humanDate }}</em>
  </time>
  <span>|</span>
  <span>{{ readingTime }} reading time</span>
  <span>|</span>
  {% set twitter = metadata.socials[1].url %}
  <a href="{{ twitter | url }}" rel="noopener noreferrer" target="_blank">
    @jackdbd
  </a>
</p>
