<ul class="flow post-list">
  {% for post in posts | reverse %}

  <li class="flow">
    <h2>
      <a href="{{ post.url | url }}" data-pagefind-ignore>
        {% if post.data.title %}
        {{ post.data.title }}
        {% else %}
        Untitled post
        {% endif %}
      </a>
    </h2>

    {% if post.data.date %}
      {% set humanDate = post.data.date | humanDate %}
      {% set machineDate = post.data.date | machineDate %}
      {% set readingTime = post | readingTime %}
      {% include "components/post-info.njk" %}
    {% endif %}
  </li>

  {% endfor %}
</ul>
