<section>
  <ol class="stack">
    {% for post in posts | reverse %}
    <li class="">
      <article class="stack" {% if post.url == url %} data-current="current item" {% endif %}>

        <h2 class="focus-within:fancy-outline">
          <a class="!no-underline !text-headline focus:outline-none" href="{{ post.url | url }}">
            {% if post.data.title %}
            {{ post.data.title }}
            {% else %}
            Untitled
            {% endif %}
          </a>
        </h2>

        {% set humanDate = post.data.date | humanDate %}
        {% set machineDate = post.data.date | machineDate %}
        {% set readingTime = post | readingTime %}
        {% include "components/post-info.njk" %}

        {% if post.data.tags %}
        {% set tags = post.data.tags %}
        {% include "components/tags.njk" %}
        {% endif %}
      </article>
    </li>
    {% endfor %}
  </ol>
</section>
{# {% include "components/back-to-top.njk" %} #}
{# <script defer src="/assets/js/back-to-top.js" data-helmet></script> #}
