<ul class="cluster" data-align="{{ align }}">
  {% for text in tags %}
    {% if text != "post" %}
      {% set href %}/tags/{{ text }}/{% endset %}
      <li class="display:inline-flex">{% include "components/pill.njk" %}</li>
    {% endif %}
  {% endfor %}
</ul>