<div class="cluster">
  <div class="cluster-children-wrapper">
    {% for tag in tags %}
      {% if tag != "post" %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <div class="border border-black px-2">
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>