<ul class="cluster" data-align="{{ align }}">
  {% for text in tags | sort %}
    {% if text != "post" %}
      {% set href %}/tags/{{ text }}/{% endset %}
      <li class="display:inline-flex" data-pagefind-ignore>{% include "components/pill.njk" %}</li>
    {% endif %}
  {% endfor %}
</ul>