<small>I built this website with&nbsp;<a href="https://www.11ty.dev/" rel="noopener noreferrer" target="_blank">11ty</a>&nbsp;— It's hosted on&nbsp;<a href="https://www.netlify.com/" rel="noopener noreferrer" target="_blank">Netlify</a>.</small>
