<div class="px-2">
    <span class="py-1 text-sm">I built this website with <a href="https://www.11ty.dev/" rel="noopener noreferrer"
            target="_blank">11ty</a> and <a href="https://tailwindcss.com/" rel="noopener noreferrer"
            target="_blank">Tailwind CSS</a> — It's hosted on <a href="https://www.netlify.com/"
            rel="noopener noreferrer" target="_blank">Netlify</a>
    </span>
</div>
